@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact-details {
  padding: 0 1.5rem;
  border-top: 1px solid $secondary-color-light;
  @include tablet {
    border: none;
    width: 50%;
    padding: 0 1rem 0 2rem;
  }
  @include desktop {
    padding: 0 1rem 0 2rem;
  }
  &__heading {
    padding: 1rem 0;
    @include tablet {
      padding: 0 0 2rem 0;
      border: none;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__warehouse {
    padding-bottom: 1rem;
  }
  &__label {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    @include body-medium-mobile;
    font-weight: 600;
  }
  &__input {
    border: 1px solid $secondary-color-light;
    border-radius: 1.25rem;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    &--error {
      border-radius: 1.25rem;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    border: 1px solid red;

    }
    @include tablet {
      height: 2.375rem;
    }
  }
  &__error--text {
    color: red;
    font-size: 0.775rem;
    display: flex;
    align-items: center;

  }
  &__button-wrapper {
    background-color: $background-color-light;
    display: flex;
    height: 2.25rem;
    justify-content: space-around;
    padding: 4rem 0;
  }
}


.error-container {
  display: flex;
  align-items: center;
  color: red;
  padding: 0.5rem 0;
  &__message {
    font-size: 0.775rem;
  }
  }