@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.details {

	@include tablet {
		border-right: 1px solid $secondary-color-light;
		width: 100%;
        padding: 0 2rem;
        margin: 1.5rem 0;
	}

	@include desktop {
		padding: 0 2.5rem;
	}

	&__title {
		padding: 0 0 1.5rem;

        @include tablet {
            padding: 0 0 2rem;
        }
	}
	&__label {
		display: block;
		padding-bottom: 0.25rem;
		@include body-medium-mobile;
		font-weight: 600;

        @include tablet {
            @include body-medium-tablet;
        }
	}

	&__input {
		border: 1px solid $secondary-color-light;
		border-radius: 1.25rem;
		width: 100%;
		height: 2.25rem;
		padding-left: 1rem;
		margin-bottom: 1rem;

		@include tablet {
			height: 2.375rem;
			margin-bottom: 1.5rem;
		}
	}

	&__desc-input {
		border: 1px solid $secondary-color-light;
		border-radius: 1.25rem;
		width: 100%;
		height: 7.5rem;
		padding: 0.75rem 1rem;
		margin-bottom: 0.5rem;
		resize: none;

		@include tablet {
			margin-bottom: 1.5rem;
		}
	}

	&__select-wrap {
		position: relative;
	}

	&__select-wrap::after {
		content: url("../../assets/icons/arrow_drop_down-24px.svg");
		fill: $secondary-color-dark;
		font-size: 1rem;
		top: 6px;
		right: 1.25rem;
		position: absolute;
	}

	&__select {
		appearance: none;
		border: 1px solid $secondary-color-light;
		border-radius: 1.25rem;
		width: 100%;
		height: 2.25rem;
		padding-left: 1rem;
		margin-bottom: 0.5rem;
		background-color: $primary-color-light;
		// color: $secondary-color-dark;

		@include tablet {
			height: 2.375rem;
		}
	}
}

.error {
    border: $supporting-color-out solid 1px;
}