@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse {
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  background-color: $primary-color-light;
  margin-top: -4.375rem;
  font-size: 0.8125rem;

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $secondary-color-light;

    @include desktop {
      padding: 2rem;
    }
  }

  &__header-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &__divider {
    display: flex;
  }

  &__edit-button {
    background-color: $primary-color-medium;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primary-color-light;

    @include tablet {
      display: none;
    }

    @include tablet {
      background-color: $primary-color-medium;
      padding: 1rem;
      height: 2.375rem;
      width: auto;
      border-radius: 1.25rem;
      gap: 0.1rem;
      display: flex;
      gap: 0.3rem;
      align-items: center;
      color: $primary-color-light;
    }
  }

  &__edit-button-caption {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__sub-heading {
    color: $secondary-color-dark;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
}

.warehouse-info {
  border-bottom: 1px solid $secondary-color-light;
  padding: 1.5rem;

  @include tablet {
    display: flex;
    border-bottom: none;
  }

  &__address-wrapper {
    margin-bottom: 2rem;
    flex-grow: 1;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 65%;
      border-left: 1px solid $secondary-color-light;
      padding-left: 2rem;
    }

    &--right {
      width: 50%;
      @include tablet {
        width: 65%;
        border-left: none;
      }
    }
  }

  &__contact-wrapper {
    width: 50%;

    @include tablet {
      width: 35%;
    }
  }

  &__address {
    display: inline;

    @include tablet {
      display: block;
    }
  }
}

.table {
  &__headings {
    display: none;

    @include tablet {
      display: flex;
      background: rgba(247, 248, 249, 0.7);
      padding: 0.5rem 1.5rem;
    }
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    width: 22.5%;

    &--actions {
      justify-content: flex-end;
      width: 10%;
    }
  }

  &__heading {
    color: $secondary-color-dark;
    margin-bottom: 0.5rem;
    text-transform: uppercase;

    @include tablet {
      margin-bottom: 0;
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }
  }

  &__heading-button {
    all: unset;
  }

  &__heading-icon {
    width: 0.8rem;
    margin-left: 0.3rem;
  }

  &__list-item {
    list-style-type: none;
    border-bottom: 1px solid $secondary-color-light;
    padding: 1.5rem;

    @include tablet {
      display: flex;
      padding: 1rem 1.5rem;
    }
  }

  &__list-container {
    width: 50%;

    @include tablet {
      display: flex;
    }
  }

  &__list-divider {
    display: flex;

    @include tablet {
      flex-grow: 1;
    }
  }

  &__list-wrapper {
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__tag {
    color: $supporting-color-in;
    background: rgba(21, 132, 99, 0.07);
    height: 1.5rem;
    font-size: 0.6875rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    min-width: fit-content;
    max-width: max-content;

    // &--out {
    //   background: rgba(201, 69, 21, 0.07);
    // }
  }

  &__icons {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-end;
      width: 10%;
      gap: 1rem;
    }
  }

  &__icon {
    height: 18px;
  }
}

.link {
  text-decoration: none;
  color: $primary-color-medium;
  font-size: 0.8125rem;
  font-weight: 600;
  display: flex;
  align-items: end;
}

.arrow-right {
  width: 1.2rem;
}
