@use "../../styles/partials/variables" as *;

.warehouse {
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  background-color: $primary-color-light;
  margin-top: -4.375rem;

  &__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $secondary-color-light;
  }

  &__header-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &__divider {
    display: flex;
  }
}

.edit-icon {
  background-color: $primary-color-medium;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__icons {
  display: flex;
  justify-content: space-between;
}

.table {
  padding: 1.5rem;

  &__container {
    border-bottom: 1px solid $secondary-color-light;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 0 1.5rem;
  }

  &__wrapper {
    margin-bottom: 1rem;
  }

  &__headers {
    color: $secondary-color-dark;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--right {
      width: 50%;
    }
  }

  &__contact-wrapper {
    width: 50%;
  }

  &__text {
    font-size: 0.8125rem;
  }

  &__list {
    margin: 1rem -1.5rem 0;
    border-bottom: 1px solid $secondary-color-light;
    padding: 0 1.5rem 2rem;
  }

  &__list-item {
    list-style-type: none;
  }

  &__list-container {
    width: 50%;
  }

  &__list-divider {
    display: flex;
  }

  &__list-wrapper {
    margin-bottom: 1rem;
  }

  &__tag {
    color: $supporting-color-in;
    background: rgba(21, 132, 99, 0.07);
    height: 1.5rem;
    font-size: 0.6875rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    max-width: max-content;
    // &--out {
    //   background: rgba(201, 69, 21, 0.07);
    // }
  }
}

.link {
  text-decoration: none;
  color: $primary-color-medium;
  font-size: 0.8125rem;
  font-weight: 600;
  display: flex;
  align-items: end;
}

.arrow-right {
  width: 1.2rem;
}
