// Color palette //

$primary-color-dark: #13182c;
$primary-color-medium: #2e66e5;
$primary-color-light: #ffffff;

$background-color-dark: #232940;
$background-color-light: #f7f8f9;

$supporting-color-in: #158463;
$supporting-color-out: #c94515;

// Breakpoints //

$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;
