@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    text-align: center;
    padding: 2.5rem 6.8125rem;
    @include tablet {
        padding: 2.5rem 18.6875rem;
    }
    @include desktop {
        padding: 3rem 34.625rem;
    }
}