@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.avail {

    &__title {
        padding: 0 0 1.5rem;
    }
    &__label {
        display: block;
        padding-bottom: 0.25rem;
        @include body-medium-mobile;
        font-weight: 600;
    }

    &__input {
        border: 1px solid $secondary-color-light;
        border-radius: 1.25rem;
        width: 100%;
        height: 2.25rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        
        @include tablet {
          height: 2.375rem;
        }
    }


    &__desc-input {
        border: 1px solid $secondary-color-light;
        border-radius: 1.25rem;
        width: 100%;
        height: 7.5rem;
        padding: .75rem 1rem;
        margin-bottom: .5rem;
        @include tablet {
          height: 2.375rem;
        }
    }
}