@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-wrapper {
  text-align: left;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  background-color: $primary-color-light;
  margin-top: -3.5rem;
  @include tablet {
    margin-top: -5.55rem;
  }
}


.heading {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 1px solid $secondary-color-light;
  @include tablet {
    border-bottom: 1px solid $secondary-color-light;
    justify-content: flex-start;
    padding-left: 2.5rem;
  }
  @include desktop {
  }
  &__warehouse {
    padding: 1.5rem 0;
  }
}

.form {
  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-evenly;
      padding-top: 2rem;
    }
    @include tablet {
        margin: 0 1.5rem 1.5rem 0;
    }
    @include desktop {
      margin: 0 1rem 1rem 0;
    }
  }
  &__button-wrapper {
    background-color: $background-color-light;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    @include tablet {
        padding: 1rem 2.5rem;
        justify-content: flex-end;
    }
  }
  &__button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    @include tablet {
      justify-content: flex-end;
      gap: 1rem;
    }
  }
  &__button {
    width: 8rem;
    height: 2.2rem;
    border-radius: 1.25rem;
    font-weight: 600;
    @include tablet {
      width: 8.625rem;
      height: 2.375rem;
    }
    &--1 {
      color: $secondary-color-dark;
      background-color: $primary-color-light;
      border: 0.0625rem solid $secondary-color-light;
      @include tablet {
        height: 2.375rem;
        width: 4.5rem;
      }
    }
    &--2 {
      color: $primary-color-light;
      background-color: $primary-color-medium;
      border: none;
    }
  }
}
