@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.container {
    margin-top: -4rem;
    background-color: $primary-color-light;
    text-align: left;
    color: $primary-color-dark;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    background-color: $primary-color-light;

    @include tablet {
        margin-top: -6.0625rem;
    }
}

.heading {
    padding: 1.75rem 1.75rem;
    border-bottom: 1px solid $secondary-color-light;
    display: flex;

    &__title {
        padding: 0 0 0 .75rem;
        margin: 0;
    }
}

.form {
    
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    &__component-container {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid $secondary-color-light;

        @include tablet {
            border-bottom: none;
        }

        @include tablet {
            display: flex;
            flex-basis: 50%;
            padding: 0;
        }
    }

    &__button-wrapper {
        width: 100%;
    }

    &__button-container {
        height: 4.25rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $background-color-light;

        @include tablet {
          justify-content: flex-end;
          gap: 1rem;
          height: 4.5rem;
          padding-right: 2rem;
          @include body-large-tablet;
        }

        @include desktop {
            padding-right: 2.5rem;
        }
    }

    &__button {
        width: 8rem;
        height: 2.2rem;
        border-radius: 1.25rem;
        font-weight: 600;
        @include tablet {
          width: 8.625rem;
          height: 2.375rem;
          &:hover {
            cursor: pointer;
          }
        }
        &--1 {
          color: $secondary-color-dark;
          background-color: $primary-color-light;
          border: 0.0625rem solid $secondary-color-light;
          @include tablet {
            height: 2.375rem;
            width: 4.5rem;
          }
          &:hover {
            border-color: $primary-color-medium;
            color: $primary-color-medium;
          }
        }
        &--2 {
          color: $primary-color-light;
          background-color: $primary-color-medium;
          border: none;
          &:hover {
            background-color: $background-color-dark;
          }
        }
      }
}